{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'layout_front.html.twig' %}

{% block title %}New WineCard{% endblock %}

{% block body %}
    <h1>Создать винную карту</h1>
    <hr/>
    <div class="row">
        <div class="col-lg-8">
            {{ include('front/wine_card/_form.html.twig', {'button_label': 'Создать'}) }}
        </div>
    </div>
{% endblock %}
