{% extends 'layout_cabinet.html.twig' %}

{% block title %}Личный кабинет - WineDows{% endblock %}

{% block body %}
    <main class="body-main">

        <section class="your-cards">
            <div class="h2">Ваши винные карты</div>
            <div class="list">
                <a href="#" class="card"></a>
                <a href="#" class="card"></a>
                <a href="#" class="card"></a>
                <a href="#" class="card"></a>
                <a href="#" class="card"></a>
                <a href="#" class="card"></a>
            </div>
        </section>
    </main>
{% endblock %}
