<section class="edit-profile">
    <form action="#">
        <div class="line">
            <label>Ваши ФИО</label>
            <div class="input">
                <input type="text">
                <div class="error-message">введите ФИО</div>
            </div>
        </div>
        <div class="line -error">
            <label>Ваш номер телефона</label>
            <div class="input-group">
                <div class="tel-code">
                    <input type="hidden" value="+7" name="code">
                    <button class="trigger">
                        <img src="img/flags/ru.png" alt="">
                        +7
                    </button>
                    <div class="code-popup">
                        <a href="#"><img src="img/flags/ru.png" alt="">+7</a>
                        <a href="#"><img src="img/flags/ru.png" alt="">+38</a>
                        <a href="#"><img src="img/flags/ru.png" alt="">+61</a>
                        <a href="#"><img src="img/flags/ru.png" alt="">+1</a>
                        <a href="#"><img src="img/flags/ru.png" alt="">+35</a>
                        <a href="#"><img src="img/flags/ru.png" alt="">+9</a>
                        <a href="#"><img src="img/flags/ru.png" alt="">+45</a>
                        <a href="#"><img src="img/flags/ru.png" alt="">+78</a>
                        <a href="#"><img src="img/flags/ru.png" alt="">+95</a>
                    </div>
                </div>
                <div class="input">
                    <input type="tel">
                    <div class="error-message">неверный номер</div>
                </div>
            </div>
        </div>
        <div class="line">
            <label>Ваш Instagram</label>
            <div class="input">
                <input type="text">
            </div>
        </div>
        <div class="line">
            <label>Ваш Facebook</label>
            <div class="input">
                <input type="text">
            </div>
        </div>
        <div class="line">
            <label>Дата рождения</label>
            <div class="input">
                <input type="text">
            </div>
        </div>
        <div class="line">
            <label>Место работы</label>
            <div class="input">
                <input type="text">
            </div>
        </div>
        <div class="line">
            <label>Опыт работы</label>
            <div class="input">
                <input type="text">
            </div>
        </div>
        <div class="line">
            <label>Ваш пароль</label>
            <div class="input">
                <input type="password">
                <div class="error-message">неверный пароль</div>
            </div>
        </div>
        <div class="line -center">
            <div class="links">
                <a href="#">изменить данные</a>
            </div>
        </div>
    </form>
</section>