<h1>Сброс пароля</h1>

<p>
    Для сброса пароля нажмите <a href="{{ signedUrl|raw }}">нажмите на эту ссылку </a><br><br>
    Ссылка действительна в течении {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.<br><br>
    Если запрос на сброс делали не Вы, пожалуйста игнорируйте это письмо, или обратитесь в администратору.
</p>

<p>
    С уважением, команда WineDows!
</p>
