<tr id="productGalleryItem-__name__">
    <td>---</td>
    <td>{{ form_widget(form.title) }}</td>
    <td>{{ form_widget(form.picFile) }}</td>
    <td><button type="button" class="btn btn-danger deleteRow" rel="productGalleryItem-__name__">delete</button></td>
</tr>