{% extends 'layout_front.html.twig' %}

{% block title %}Winedows!{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% set winecard_path = path('cabinet_wine_card_index') %}
    {% else %}
        {% set winecard_path = path('app_login') %}
    {% endif %}

    <section class="sec-slider">
        {% include 'front/common/slider.html.twig' %}
    </section>

    <div class="sec-info">
        {% include 'front/homepage/section-info.html.twig' %}
    </div>

    <div class="sec-events">
        {% include 'front/homepage/section-events.html.twig' %}
    </div>


{% endblock %}
