<div class="container-def">
    <div class="sec-events__wrap">
        <div class="sec-events__content">
            <div class="events row">
                <div class="events__el col-12 col-md-6"><a class="events-el" href="#">
                        <div class="events-el__icon">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M29.5385 0H32V32H29.5385V28.9231L28.9538 28.7846C28.6462 28.6923 27.2769 28.3846 25.9231 28.0769C24.5692 27.7692 23.4615 27.5385 23.4462 27.5692C23.4462 27.6 23.2 27.9538 22.8923 28.3846C22.5846 28.8 22.1077 29.3692 21.8154 29.6462C21.5385 29.9077 20.8923 30.3846 20.3846 30.6923C19.8769 31 19.0154 31.3846 18.4615 31.5538C17.7385 31.7846 17.0462 31.8769 16 31.8769C14.9538 31.8769 14.2615 31.7846 13.5385 31.5538C12.9846 31.3846 12.1231 31 11.6154 30.6923C11.1077 30.3846 10.3846 29.8308 10 29.4615C9.61539 29.0923 9.06154 28.3846 8.76923 27.8923C8.47692 27.4154 8.07692 26.5538 7.89231 26C7.70769 25.4462 7.53846 24.7385 7.53846 24.4154C7.53846 24 7.46154 23.8308 7.27692 23.7692C7.12308 23.7385 5.98462 23.4769 2.46154 22.6923V24.6154H0V7.38462H2.46154L2.53846 9.32308L15.6154 6.30769C22.8154 4.64615 28.8769 3.24615 29.5385 3.07692V0ZM2.4 11.7385L2.46154 20.2308C22.9077 24.9538 29 26.3692 29.2 26.4L29.5385 26.4615C29.5385 7.72308 29.4923 5.53846 29.3385 5.55385C29.2462 5.55385 23.1385 6.95385 15.7846 8.64615L2.4 11.7385ZM10.6308 26.4615C10.8615 26.8462 11.3385 27.4462 11.7077 27.8154C12.0769 28.1846 12.8154 28.7077 13.3692 28.9692C14.3077 29.4308 14.4769 29.4615 15.9846 29.4615C17.5077 29.4615 17.6769 29.4308 18.6 28.9692C19.1538 28.6923 19.9231 28.1692 20.2923 27.7846C20.6769 27.4 20.9231 27.0308 20.8615 26.9692C20.7846 26.9077 18.3692 26.3077 15.5077 25.6615C12.6462 25 10.2 24.4615 10.0769 24.4615C9.89231 24.4615 9.87692 24.5692 10.0462 25.1231C10.1538 25.4769 10.4154 26.0769 10.6308 26.4615Z"
                                      fill="#CFDAFF"/>
                            </svg>
                        </div>
                        <div class="events-el__title title-def title-def_small">Международный конкурс вин квеври
                            в
                            Грузии,<br> названы победители из всех участников
                        </div>
                        <div class="events-el__text text-def">В Грузии 1-2 декабря состоялся Международный
                            конкурс
                            вин квеври — названы победители. Шесть компаний — «Гебрале», «Марани кахетинского
                            вина»,
                            «Шуми», винодельня «Бинехи», «Дамианэ» и «Марани Давида Чихладзе»
                        </div>
                        <div class="events-el__date">25 Марта 2022</div>
                    </a></div>
                <div class="events__el col-12 col-md-6"><a class="events-el" href="#">
                        <div class="events-el__icon">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M29.5385 0H32V32H29.5385V28.9231L28.9538 28.7846C28.6462 28.6923 27.2769 28.3846 25.9231 28.0769C24.5692 27.7692 23.4615 27.5385 23.4462 27.5692C23.4462 27.6 23.2 27.9538 22.8923 28.3846C22.5846 28.8 22.1077 29.3692 21.8154 29.6462C21.5385 29.9077 20.8923 30.3846 20.3846 30.6923C19.8769 31 19.0154 31.3846 18.4615 31.5538C17.7385 31.7846 17.0462 31.8769 16 31.8769C14.9538 31.8769 14.2615 31.7846 13.5385 31.5538C12.9846 31.3846 12.1231 31 11.6154 30.6923C11.1077 30.3846 10.3846 29.8308 10 29.4615C9.61539 29.0923 9.06154 28.3846 8.76923 27.8923C8.47692 27.4154 8.07692 26.5538 7.89231 26C7.70769 25.4462 7.53846 24.7385 7.53846 24.4154C7.53846 24 7.46154 23.8308 7.27692 23.7692C7.12308 23.7385 5.98462 23.4769 2.46154 22.6923V24.6154H0V7.38462H2.46154L2.53846 9.32308L15.6154 6.30769C22.8154 4.64615 28.8769 3.24615 29.5385 3.07692V0ZM2.4 11.7385L2.46154 20.2308C22.9077 24.9538 29 26.3692 29.2 26.4L29.5385 26.4615C29.5385 7.72308 29.4923 5.53846 29.3385 5.55385C29.2462 5.55385 23.1385 6.95385 15.7846 8.64615L2.4 11.7385ZM10.6308 26.4615C10.8615 26.8462 11.3385 27.4462 11.7077 27.8154C12.0769 28.1846 12.8154 28.7077 13.3692 28.9692C14.3077 29.4308 14.4769 29.4615 15.9846 29.4615C17.5077 29.4615 17.6769 29.4308 18.6 28.9692C19.1538 28.6923 19.9231 28.1692 20.2923 27.7846C20.6769 27.4 20.9231 27.0308 20.8615 26.9692C20.7846 26.9077 18.3692 26.3077 15.5077 25.6615C12.6462 25 10.2 24.4615 10.0769 24.4615C9.89231 24.4615 9.87692 24.5692 10.0462 25.1231C10.1538 25.4769 10.4154 26.0769 10.6308 26.4615Z"
                                      fill="#CFDAFF"/>
                            </svg>
                        </div>
                        <div class="events-el__title title-def title-def_small">100 лучших вин победивших в
                            кoнкypce<br>
                            журнала Wine Spectator в этом году
                        </div>
                        <div class="events-el__text text-def">Opигинaльный кoнкypc – yникaльнoe, в cвoeм poдe
                            сравнение одного copтa винoгpaдa, тaкoгo ypoвня. Пpoвoдимый кoнкypc тoлькo
                            пoдчёpкивaeт
                            тoнкocть и cпeцифичнocть copтa Pinot и дaёт вoзмoжнocть пpoизвoдитeлям и пoтpeбитeля
                        </div>
                        <div class="events-el__date">16 Апреля 2022</div>
                    </a></div>
            </div>
        </div>
    </div>
</div>