<div class="modal-def" id="modal-partner">
    <div class="modal-def__wrap">
        <div class="modal-def__content modal-content">
            <div class="modal-def__close modal-content__close btn-close">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M16.6987 14L27.5338 3.16498C27.8502 2.79928 28.0163 2.32738 27.9987 1.84417C27.9814 1.36096 27.7816 0.902285 27.4397 0.56038C27.0977 0.218477 26.6391 0.0187068 26.156 0.00124861C25.6727 -0.0162095 25.2008 0.149939 24.8351 0.466277L14 11.3013L3.16498 0.466277C2.79928 0.149939 2.32738 -0.0162095 1.84417 0.00124861C1.36096 0.0187068 0.902285 0.218477 0.56038 0.56038C0.218477 0.902285 0.0187068 1.36096 0.00124861 1.84417C-0.0162095 2.32738 0.149939 2.79928 0.466277 3.16498L11.3013 14L0.466277 24.8351C0.149939 25.2008 -0.0162095 25.6727 0.00124861 26.156C0.0187068 26.6391 0.218477 27.0977 0.56038 27.4397C0.902285 27.7816 1.36096 27.9814 1.84417 27.9987C2.32738 28.0163 2.79928 27.8502 3.16498 27.5338L14 16.6987L24.8351 27.5338C25.2008 27.8502 25.6727 28.0163 26.156 27.9987C26.6391 27.9814 27.0977 27.7816 27.4397 27.4397C27.7816 27.0977 27.9814 26.6391 27.9987 26.156C28.0163 25.6727 27.8502 25.2008 27.5338 24.8351L16.6987 14Z"
                          fill="#084ED7"/>
                </svg>
            </div>
            <div class="modal-content__content">
                <div class="modal-content__title title-def title-def_med">Стать партнером</div>
                <div class="modal-content__form block-form">
                    <div class="modal-content__el form-el form-el_m">
                        <div class="form-el__title">Название компании</div>
                        <input class="form-el__inp inp-def" type="text" value="Veuve Clicquot Ponsardin">
                    </div>
                    <div class="modal-content__el form-el form-el_m">
                        <div class="form-el__title">Телефон</div>
                        <input class="form-el__inp inp-def" type="text" value="+375 29 688-28-92">
                    </div>
                    <div class="modal-content__el form-el form-el_bg form-el_m">
                        <div class="form-el__title">Текст сообщения</div>
                        <textarea class="form-el__textarea textarea-def"></textarea>
                    </div>
                    <button class="block-form__btn btn-def btn-def_2"><span>Отправить</span></button>
                </div>
            </div>
        </div>
        <div class="modal-def__overlay overlay-def"></div>
    </div>
</div>
