<div class="row form-group" id="productSetRow-__name__">
    <div class="col-6">{{ form_widget(form.product) }}</div>
    <div class="col-2">
        <span class="badge badge-info" id="price-">0</span>
        <span class="badge badge-dark" id="priceIn-">0</span>
    </div>
    <div class="col-2">{{ form_widget(form.position) }}</div>
    <div class="col-2"><button type="button" class="btn btn-danger deleteRow" rel="productSetRow-__name__">delete</button></div>
</div>