<div class="container-def">
    <div class="sec-slider__wrap">
        <div class="sec-slider__content swiper-main swiper">
            <div class="swiper-main__dots dots-vert"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-main__el">
                    <div class="swiper-main-el"><img class="swiper-main-el__img"
                                                     src="{{ asset('/bigwine/img/slider/1.png') }}" alt="">
                        <div class="swiper-main-el__body">
                            <div class="swiper-main-el__info text-def">Коротко о системе</div>
                            <div class="swiper-main-el__title title-def title-def_main">Bigwine
                                <span>community</span></div>
                            <div class="swiper-main-el__text text-info wrap-article">
                                <p>Добро пожаловать на BigWine. В нашем сервисе вы найдите все для обучения,
                                    проведения мероприятий, поиска вин по каталогу состоящему из 20 000
                                    наименований и 160 поставщиков. Если вы являетесь поставщиком, то также
                                    сможете разместить свою продукцию в нашем каталоге. А также проводить
                                    мероприятия или дегустацию своей продукции и обучения для других участников
                                    платформы.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-main__el">
                    <div class="swiper-main-el"><img class="swiper-main-el__img"
                                                     src="{{ asset('/bigwine/img/slider/1.png') }}"
                                                     alt="">
                        <div class="swiper-main-el__body">
                            <div class="swiper-main-el__info text-def">Коротко о системе</div>
                            <div class="swiper-main-el__title title-def title-def_main">Bigwine
                                <span>community</span></div>
                            <div class="swiper-main-el__text text-info wrap-article">
                                <p>Добро пожаловать на BigWine. В нашем сервисе вы найдите все для обучения,
                                    проведения мероприятий, поиска вин по каталогу состоящему из 20 000
                                    наименований и 160 поставщиков. Если вы являетесь поставщиком, то также
                                    сможете разместить свою продукцию в нашем каталоге. А также проводить
                                    мероприятия или дегустацию своей продукции и обучения для других участников
                                    платформы.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-main__el">
                    <div class="swiper-main-el"><img class="swiper-main-el__img"
                                                     src="{{ asset('/bigwine/img/slider/1.png') }}"
                                                     alt="">
                        <div class="swiper-main-el__body">
                            <div class="swiper-main-el__info text-def">Коротко о системе</div>
                            <div class="swiper-main-el__title title-def title-def_main">Bigwine
                                <span>community</span></div>
                            <div class="swiper-main-el__text text-info wrap-article">
                                <p>Добро пожаловать на BigWine. В нашем сервисе вы найдите все для обучения,
                                    проведения мероприятий, поиска вин по каталогу состоящему из 20 000
                                    наименований и 160 поставщиков. Если вы являетесь поставщиком, то также
                                    сможете разместить свою продукцию в нашем каталоге. А также проводить
                                    мероприятия или дегустацию своей продукции и обучения для других участников
                                    платформы.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>