<h1>Delete account notification</h1>

<p>
    Sad, but you have decided to delete your account at Winedows<br><br>
    It will be completely removed in 3 months.<br><br>
    If you will change your mind within this period, please feel free to contact our support to recover your data.
</p>

<p>
    With best regards, Winedows team.
</p>