<h1>Запрос на роль организатора события <em>"{{ event.name }}"</em></h1>

<p>
    Название компании: <strong></strong><br><br>
    После одобрения администратор с Вами свяжется.
</p>

<p>
    С уважением, команда BigWine
</p>
