<h1>Добро пожаловать в систему BigWine!</h1>

<p>
    Вы разместили заявку на посещение мероприятия: <strong>{{ event.name }}</strong><br><br>
    После одобрения администратор с Вами свяжется.
</p>

<p>
    С уважением, команда BigWine
</p>
