{% extends 'layout_front_login.html.twig' %}

{% block title %}Registration confirmed{% endblock %}

{% block body %}
    <h4>Регистрация / подтверждение</h4>

    {% if user %}
        Ваш Email - <strong>{{ user.email | raw }}</strong> успешно подтверждён.
                                                            Вы можете начать пользоваться сервисом после авторизации.
        <hr />
        <a class="btn btn-success" href="{{ path('app_login') }}"><i class="fa fa-user"></i> авторизоваться</a>
    {% else %}
        Неверные параметры.
    {% endif %}

{% endblock %}
