{% extends 'layout_front_login.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h4>Сброс пароля</h4>

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {% if user %}
        На Ваш Email - <strong>{{ user.email | raw }}</strong> отправлено письмо с инструкциями для сброса пароля.
    {% else %}
        Неверные параметры.
    {% endif %}

{% endblock %}
