<tr id="categoryFilterItem-__name__">
    <td>{{ form_widget(filter.name) }}</td>
    <td>{{ form_widget(filter.position) }}</td>
    <td><button type="button" class="btn btn-danger deleteRow" rel="filterValueItem-__name__">delete</button></td>
</tr>