<tr id="productTypeItem-__name__">
    <td>{{ form_widget(form.name) }}</td>
    <td>{{ form_widget(form.position) }}</td>
    <td><button type="button" class="btn btn-danger deleteRow" rel="productTypeItem-__name__">delete</button></td>
</tr>