<tr id="productParameterItem-__name__">
    <td>{{ form_widget(productParameter.name) }}</td>
    <td>{{ form_widget(productParameter.position) }}</td>
    <td><button type="button" class="btn btn-danger deleteRow" rel="productParameterItem-__name__">delete</button></td>
</tr>