{% extends 'layout_admin.html.twig' %}

{% block title %}Access denied{% endblock %}

{% block body %}
    <!-- Icon Cards-->
    <div class="row">
        <div class="col-xl-12 col-sm-6 mb-3">
            <h3>Access denied!</h3>
            You have no rights to access the requested url.
            Please contact administrator to get access this page.
        </div>
    </div>
{% endblock %}