<tr id="productGrapeSortItem-__name__">
    <td>{{ form_widget(form.grapeSort) }}</td>
    <td>{{ form_widget(form.value) }}</td>
    <td><button type="button" class="btn btn-danger deleteRow" rel="productGrapeSortItem-__name__">delete</button></td>
</tr>