<h1>Добро пожаловать в систему WineDows!</h1>

<p>
    Для подтверждения регистрации <a href="{{ signedUrl|raw }}">нажмите на эту ссылку </a><br><br>
    Ссылка действительна в течении {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    С уважением, команда WineDows!
</p>
