
<ul class="navbar-nav ml-auto">
    {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{#    <li class="nav-item">#}
{#        <a class="nav-link" data-toggle="modal" data-target="#filterModal">#}
{#            <i class="fa fa-fw fa-search"></i> Search</a>#}
{#    </li>#}

    <li class="nav-item">
        <a class="nav-link" href="{{ path('user_profile') }}">
            <i class="fa fa-fw fa-user"></i> {{ app.user.email }}
        </a>
    </li>
    {% endif %}

    <li class="nav-item">
        {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="nav-link" href="{{ path('app_logout') }}">
                <i class="fa fa-fw fa-power-off"></i>
                Logout
            </a>
        {% else %}
            <a class="nav-link"  href="{{ path('app_login') }}">
                <i class="fa fa-fw fa-user"></i> Login
            </a>
        {% endif %}
    </li>

</ul>