<tr id="wineColorAliasItem-__name__">
    <td>{{ form_widget(form.name) }}</td>
    <td><button type="button" class="btn btn-danger deleteRow" rel="wineColorAliasItem-__name__">delete</button></td>
</tr>